{
  "useTabs": false,
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "es5",
  "semi": true,
  "jsxBracketSameLine": true,
  "bracketSpacing": false,
  "arrowParens": "always",
  "overrides": [
    {
      "files": ["*.md", "/**/*.md"],
      "options": {
        "useTabs": false,
        "tabWidth": 4
      }
    }
  ]
}
